pkgbase = toff
	pkgdesc = CLI shutdown timer with YouTube/media URL support
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/abod8639/toff
	arch = any
	license = MIT
	depends = bash
	depends = yt-dlp
	depends = util-linux
	optdepends = libnotify: desktop notifications on shutdown
	optdepends = at: alternative scheduling backend (atd must be running)
	source = toff-1.0.0.tar.gz::https://github.com/abod8639/toff/archive/v1.0.0.tar.gz
	b2sums = SKIP

pkgname = toff
